doctype html
html
    head
        title Getting Started
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        link(rel="stylesheet",type="text/css",href='/stylesheets/external/normalize.css')
        link(rel="stylesheet",type="text/css",href='/stylesheets/external/foundation.min.css')
        link(rel="stylesheet",type="text/css",href='/stylesheets/main.css')