doctype html
html
    head
        title Getting Started
        script(data-main='/scripts/main', src='/scripts/external/require.min.js')
        link(rel="stylesheet",type="text/css",href='/stylesheets/external/normalize.css')
        link(rel="stylesheet",type="text/css",href='/stylesheets/external/foundation.min.css')
        link(rel="stylesheet",type="text/css",href='/stylesheets/main.css')