body {
    background-color: black;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

.g__layout__feature-image {
    background-image: url("/assets/goran.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.g__layout__column {
    height: 100vh;
}

.g__layout__main-wrapper {
    padding: 40px 0;
}