<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <div class="g__layout__main-wrapper row">
        <div class="medium-4 columns g__layout__column">
            <h1>Göran Persson</h1>
            <p>om</p>
            <h2>Helmut Kohl</h2>
        </div>
        <div class="medium-4 columns g__layout__column g__layout__feature-image"></div>
        <div class="medium-4 columns g__layout__column">
            <p>”Han äter kopiöst med smör – först en assiett; jag kan tänka mig att det är tio såna där smörklickar, tio gram styck som ligger där, konsumerar han snabbt. Och så tar han in en till, också den går åt.”</p>
            <p><a href="https://youtu.be/nEUTn1_dTQM?t=1m36s">Watch</a></p>
            <p>Listen
                <audio src="/audio/SVT-persson-om-kohl.mp3" preload="auto" controls></audio>
            </p>

        </div>
    </div>


</body>
    <% include ../partials/footer.ejs %>
</html>
