include ../partials/header.jade

body
    div(class="g__layout__main-wrapper row")
        div(class="medium-4 columns g__layout__column")
            h1 Göran Persson
            p har inte sagt något om
            h2 #{name}
        div(class="medium-4 columns g__layout__column g__layout__feature-image")
        div(class="medium-4 columns g__layout__column")

include ../partials/footer.jade

